@import "tailwindcss";

*{
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
}

.menu-link{
  text-decoration: none;
  color: purple;
  font-size: 1rem;
  padding: 0.5rem;
}

a.active hr{
  display:block;
}

@media(max-width:768px){
  a.active{
    background-color: black;
    color: white;
  }
}

.slick-slide div{
  /* margin: 0 10px; */
  display:flex;
  gap:5px;
}

.slick-arrow:before{
  color: black !important;
  font-size: 30px !important;
}

.slick-dots li button:before{
  font-size: 20px !important;
}

/* .slick-prev{
  top:-30px !important;
  left:750px !important;
}

.slick-next{
  right:40px !important;
  top:-30px !important;
} */

/* @media (max-width:768px) {
  .slick-prev{
  top:0 !important;
  left:0 !important;
}

.slick-next{
  right:0 !important;
  top:0 !important;
}
} */